
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    width: 1088px;
    padding-right: 15px;
    padding-left: 15px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-size: 16px;
}
h3.text-muted {
    color: #ececec;
    background-color: #292929;
}

/*!* Customize container *!
@media (min-width: 968px) {
    .container {
        max-width: 968px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}


!* Responsive: Portrait tablets and up *!
@media screen and (min-width: 968px) {
    !* Remove the padding we set earlier *!
    .header,
    .marketing,
    .footer {
        margin-left: -108px;
        width: 1190px;
        padding-right: 0;
        padding-left: 0;
    }
    !* Remove the bottom border on the jumbotron for visual effect *!
    .jumbotron {
        border-bottom: 0;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        border-bottom: 2px solid #58c93a;
        border-left: 2px solid #1e1e1e;
        border-right: 2px solid #1e1e1e;
        color: #58c93a;
    }
}*/
